body {
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Merriweather', serif;
}

.current-user {
  margin-left: 20px;
  position: absolute;
  font-family: 'Merriweather', serif;
}

.current-user img {
  width: 25px;
  height: 25px;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  background: white;
}

.nav-list > li {
  margin-right: 20px;
  font-size: 16px;
  list-style: none;
  display: inline;
}

.nav-list > li > a {
  text-decoration: none;
  color: darkgrey;
  font-family: Soleil_Medium,Helvetica,Arial,sans-serif;
  border-left: 1px solid black;
  padding: 0 10px 0 30px;
}

.hero-image {
  display: flex;
  position: relative;
  justify-content: center;
  background: white;
}

.image img {
  width: 100%;
  height: auto;
}

.content {
  position: absolute;
  align-self: center;
}

.jotitdown {
  font-family: Soleil_Medium,Helvetica,Arial,sans-serif;
  width: 500px;
  color: white;
  font-size: 54px;
  text-align: center;
  margin-top: 250px;
  text-shadow: 1px 1px black;
}

footer {
  display: flex;
  justify-content: flex-end;
  background: white;
}

.copyright {
  position: absolute;
  margin-left: -20px;
}

.copyright > ul {
  list-style: none;
}

.footer-list > li {
  margin-right: 20px;
  font-size: 18px;
  padding: 4px;
  list-style: none;
  display: inline;
}

.footer-list > li > a {
  text-decoration: none;
  color: black;
  font-family: Soleil_Medium,Helvetica,Arial,sans-serif;
}
